input[type=text],
select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#submit:enabled, #stopTrip:enabled {
    width: 46%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submit:disabled, #stopTrip:disabled {
    width: 46%;
    background-color: #5d5f66;
    color: #000000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
}

#submit:enabled:hover, #stopTrip:enabled:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 100%;
}

html {
    display: flex;
    align-items: center;
    justify-content: center;
}